html, body {
    padding: 0;
    margin: 0;
    font-family: sans-serif,'Times New Roman';
    font-weight: 500;
}

:root {
    --mBackground: #699ffe;
    --mActive: #4d7dd1;
    --mHover: #5d8fe8;
    --sPanel: aliceblue;
    --sBackground: #209f85;
    --sHover: #1c8a73;
    --tBackground: #dfeaeb;
}

p {
    color: white;
}
h1 {
    color:white;
}
h2 {
    font-size:1.2rem;
}
h3 {
    color: white;
}

body {
    background: #e1e3e7;
    min-height: 100vh;
    min-width:100vw;
}

.parentContainer {
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: row;
    overflow-x:hidden;
}

.teeth {
    position: absolute;
    left: 51%;
    top: 51.2%;
    transform: translate(-50%,-52%);
    filter: drop-shadow(0px 0px 1px black);
    z-index: 1;
}

.teethContainer {
    position: relative;
    height: 100%;
    width: 100%;
    min-width:500px;
    background: var(--tBackground);
    overflow:hidden;
    padding:0;
    margin:0;
}

.teethBackground {
    max-height: 87%;
    max-width: 90%;
    height: auto;
    width: auto;
    position: absolute;
    left: 51%;
    top: 52%;
    transform: translate(-50.5%,-52%);
    padding: 25px;
    border-radius: 10px
}

.tooth {
    width: calc(35px + 0.8vw);
    height: calc(35px + 0.8vw);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,0);
    transition: all 0.2s;
    border-radius: 50%;
}

    .tooth:hover {
        transform: translate(-50%,0) scale(1.1);
    }

    .tooth:active {
        filter:brightness(0.95);
    }

.toothText {
    font-family: inherit;
    font-size: 1em;
    position: absolute;
    top: 110%;
    left: 35%;
    color: white;
    margin: 0;
}

.toothBackground {
    width: 64px;
    height: 64px;
    position: absolute;
    z-index:2;
}

.toothSurface {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -36px;
    left: 15px;
    background: none;
    opacity: 1;
    z-index:0;

    border-radius: 50%/15px 15px 0 0;
    border-style: solid;
    border-width: 7px;
    transition: all 0.5s;
    filter:drop-shadow(0px 0px 1px black);
}
.toothSurface1 {
    transform: scale(0.7);
    border-radius: 50%;
    border-color: transparent !important;
    background: var(--tBackground);
    filter: drop-shadow(0px 0px 1px black) !important;
}
.toothSurface2 {
    transform: rotate(-90deg);
    border-color: var(--tBackground) transparent transparent transparent;
    background:none !important;
}
.toothSurface3 {
    transform: rotate(0deg);
    border-color: var(--tBackground) transparent transparent transparent;
    background: none !important;
}
.toothSurface4 {
    transform: rotate(90deg);
    border-color: var(--tBackground) transparent transparent transparent;
    background: none !important;
}
.toothSurface5 {
    transform: rotate(180deg);
    border-color: var(--tBackground) transparent transparent transparent;
    background: none !important;
}

.toothImage {
    opacity:1;
    width: 100%;
    height:100%;
    position:absolute;
}

.toggleButton {
    height: 40px;
    width: calc(100%-10px);
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    padding:0px 0px 0px 10px;
    border: none;
    margin-bottom:10px;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    background: var(--mBackground);
    border-radius: 5px;
}

.toggleButton p {
    margin-left: 15px;
}

.requestButton {
    width: 50px;
    height: 50px;
    font-size: 0;
    border-radius: 50%;
    top: 65px;
    position: absolute;
    background:none;
    left:15px;
    border: 2px white solid;
}

    .requestButton:hover {
        filter: brightness(0.9);
    }

    .requestButton:active {
        filter: brightness(0.85);
    }

.requestButtonImage {
    position: absolute;
    width: inherit;
    height: inherit;
    top: -1px;
    left: -2px;
}

.voiceContainer {
    height: 75px;
    width: calc(100% - 5px);
    background: var(--mBackground);
    border: 3px solid;
    border-radius: 5px;
}

.stateLog {
    font-size: 1.3em;
    top: 68px;
    position: absolute;
    transform: translate(0%,-50%);
    left: 84px;
    font-family: inherit;
    max-width:67%;
}


.line {
    width:2px;
    height:100%;
    background:white;
    left:50%;top:49.5%;
    position:absolute;
    transform:translate(0%,-50%);
    filter:none;
    display:none;
}

#horizontalLine {
    height: 80%;
    transform: translate(0%,-48.5%) rotate(90deg);
}

.direction {
    left: -18%;
    top: 49.8%;
    position: absolute;
    transform: translate(0%,-100%);
    width: 20px;
    height: 20px;
    color:white;
    display:none;
}

#vasen {
    left:111.5%;
}

.mainInfoContainer {
    top: 0px;
    left: 0px;
    font-size: 1rem;
    font-family: inherit;
    height: 100%;
    background: white;
    border-radius: 0px 20px 20px 0px;
    z-index: 3;
    display:flex;
    justify-content:start;
    gap:1rem;
    flex-direction:column;
    padding:0rem 1.8rem 0 1.6rem;
    overflow-y:hidden;
}

.logStatement {
    background: var(--mBackground);
    border-radius: 6px;
    text-align: center;
    width: 100%;
    padding: 5px 0px 5px 0px;
    margin: 0px 0px 0px 0px;
    position: relative;
    transition: transform 0.3s;
    display: none;
    color: white;
    flex-direction:row;
}

    .logStatement:hover {
        background: var(--mHover);
    }

.logStatement h2 {
    font-size:1em;
    margin-bottom:0.4em;
}

.logStatement p {
    margin-top:0.2em;
}

.logText1 {
    margin-left:1em;
    text-align:left;
}

.logText2 {
    margin-left: 1em;
    margin-right:25px;
    text-align: left;
}


::-webkit-scrollbar {
    width: 8px;
    background: rgba(0,0,0,0.2);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    background: var(--mBackground);
    border-radius:15px;
}


.logStatementContainer {
    height: 5vh;
    width: calc(100% - 5px);
    text-align: center;
    padding: 0px 5px 0px 0px;
    overflow-y: scroll;
    overflow-x: visible;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    gap:10px;
    top: 30px;
    transition:all 0.3s;
}

.logStatementContainerParent {
    max-height: 510px;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top:0rem;
}

.manualInput {
    height: 40px;
    width: calc(100% - 76px);
    padding: 10px;
    padding-left:15px;
    font-size: 1.3em;
    margin-top: 10px;
    background: none;
    border: none;
    border-radius: 5px;
    color: white;
    background: var(--mBackground);
    transition: background 1s;
    display:none;
}

    .manualInput:hover {
        background: var(--mHover);
    }

    .manualInput::placeholder {
        color: aliceblue;
    }

    .manualInput:focus {
        outline-width:0;
        background: var(--mActive);
    }

::placeholder {
    color: rgba(220,220,220,1);
    opacity: 1;
}

.controlContainer {
    width:100%;
    position:relative;
    margin-bottom:1rem;
    margin-top:auto;
}

.inButton {
    height: 30px;
    width: calc(100% - 50px);
    margin-top: 10px;
    display: inline-block;
    border: none;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    background: var(--mBackground);
    border-radius:5px;
    display:none;
}

    .inButton:hover {
        background: var(--mHover);
        color: white;
    }

    .inButton:active {
        background: var(--mActive);
        color: white;
    }

input[type="file"] {
    display: none;
}

#loadButton {
    font-size: 0.83em;
    position: absolute;
    transform: translate(-50%,40%);
}

.xButton {
    width: 2px;
    height: 10px;
    background: white;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
}
    .xButton::after {
        content: "";
        display: block;
        transform: translate(0%,-50%) rotate(90deg);
        width: inherit;
        height: inherit;
        background: inherit;
        position: inherit;
        top: inherit;
        left: inherit;
    }

    .xButton::before {
        content: "";
        display: block;
        transform: translate(-46%,-48.5%);
        width: 20px;
        height: 20px;
        border-radius:50%;
        background: none;
        position: inherit;
        top: inherit;
        left: inherit;
        transition:opacity 0.2s;
        opacity:0;
    }

    .xButton:hover::before {
        background:black;
        opacity:0.2;
    }

.statementBall {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 15px;
    top: 50%;
    transform: translate(0%,-50%);
    border-radius: 50%;
    background: red;
    border:white 1px solid;
    display:none;
}

.surfaceInformationContainer {
    padding: 0px 30px 0px 0px;
    overflow:hidden;
    overflow-y:scroll;
    min-height:90px;
}

.surfaceInformationContainer p {
    margin:5px 0 0 5px;
}

.informationContainer {
    background: var(--sBackground);
    border-radius:10px;
    padding: 5px 30px 5px 20px;
    height: 15%;
    min-height:100px;
    overflow: hidden;
}

.informationContainer h3 {
    margin:10px 0px 5px 0px;
    font-size:1rem;
}

.informationContainerOverflow {
    overflow-y: scroll;
    height:calc(100% - 45px);
}

.informationContainerOverflow p {
    margin:0;
}

.surfacePair {
    display:flex;
    flex-direction:row;
    background: var(--sBackground);
    margin: 10px 0px 5px 0px;
    padding:10px;
    border-radius:10px;
}

    .surfacePair:hover {
        background: var(--sHover);
    }

.surfacePair h2 {
    margin:0px 0px 0px 0px;
    color:white;
    font-size:1.3rem;
}

.surfacePair p {
    margin: 3px 0px 0px 1rem;
}

.surfaceID {

}

#firstPair {
    display:flex;
    flex-direction:column;
    margin-bottom: 15px;
}

#firstPair h2 {
    margin-left:5px !important;
    font-size:0.8rem;
}

#firstPair p {
    margin-left: 5px !important;
}

.logo {
    position: absolute;
    right: 15px;
    bottom: 15px;
    display: block;
    max-width: 190px;
    max-height: 55px;
    width: auto;
    height: auto;
    filter: drop-shadow(3px 3px 2px black);
    opacity: 0.8;
}



/* Rounded toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        left: 0px;
        bottom: 0px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media only screen and (min-width: 800px) {
    body {
        overflow-y: hidden;
    }

    .parentContainer {
        flex-wrap: nowrap;
        justify-content: left;
        overflow-y: hidden;
    }

    .mainInfoContainer {
        min-width: 30%;
    }

    .toothInformationContainer {
        flex-grow: 0;
    }
}

@media only screen and (max-width: 800px) {
    body {
        overflow-y: visible;
    }

    .parentContainer {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .mainInfoContainer {
        min-width: calc(95% - 15px);
    }

    .toothInformationContainer {
        flex-grow: 1;
    }
}
